.title_block {
    text-align: center;
    img {
        margin: 50px 0;
    }
    .titleblock_name {
        padding: 20px;
        font-size: 40px;
        font-weight: 700;
    }
    .titleblock_desc {
        padding: 20px;
        font-size: 25px;
        font-weight: 300;
    }
}